<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>

    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

<div class="container">

    <h1>Admin Login</h1>

    <form action="/admin" method="post">

    <label>Username</label>
    <br>

    <input type="text" name="username" placeholder="Enter Username" class="input-box">

    <br><br>

    <label>Password</label>
    <br>

    <input type="password" name="password" placeholder="Enter Password" class="input-box">

    <br><br>

    <button type="submit">Admin Login</button>

</form>