<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Student dashboard</h1>

    <hr>

    <h2>Scan Attendence</h2>
    <a href="/scan">
        <button>open scanner</button>
    </a>
    <p>Attendence verified successfully</p>
    <hr>

    <h2>My Attendence</h2>
    <table border="1">
        <tr>
            <th>subjects</th>
            <th>Total Classes</th>
            <th>Present</th>
            <th>Attendence %</th>
        </tr>

        <tr>
            <td>subjects</td>
            <td>0</td>
            <td>0</td>
            <td>0 %</td>
        </tr>
    </table>
    <br>
    <button>Download Attendence sheet</button>
    <br><br>


    <a href="/profile">
        <button>profile</button>
    </a>
</body>
</html>